@import "../_particles/_dq.css";

/* CUBE CSS METHODOLOGY */
/* Composition */
.cube.wrapper {
  max-inline-size: 75rem;
  margin-inline-end: auto;
  margin-inline-start: auto;
  padding: var(--dq-wrapper-sizing, var(--downquark-scale-size-m));
}

.cube.flow > * + * {
  margin-top: var(--dq-flow-sizing, var(--downquark-scale-size-s));
}

.cube.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-block: 0;
}
.cube.stack:only-child { block-size: 100%; } /* ↓ `height` in horizontal-tb writing mode */
.cube.stack > * + * { margin-block-start: var(--dq-stack-sizing, var(--downquark-scale-size-m)); } /* not recursive by default */
.cube.stack.recursive * + * { margin-block-start: var(--dq-stack-sizing, var(--downquark-scale-size-m)); }
/** Variants
* allows custom props:
* • --dq-stack-sizing-large                                         * • --dq-stack-mutator-large
* • --dq-stack-sizing-small                                         * • --dq-stack-mutator-small
*  • --dq-stack-sizing (will be applied if exists and above DNE)    *  • --dq-stack-mutator (will be applied if exists and above DNE)
*    • --downquark-scale-size-m (default if above DNE)              *    • 2 || .25 (default if above DNE)
*/
.cube.stack.large > * + * { margin-block-start: calc(var(--dq-stack-sizing-large, var(--dq-stack-sizing, var(--downquark-scale-size-m))) * var(--dq-stack-sizing-mutator-large, var(--dq-stack-sizing-mutator, 2))); }
.cube.stack.small > * + * { margin-block-start: calc(var(--dq-stack-sizing-small, var(--dq-stack-sizing, var(--downquark-scale-size-m))) * var(--dq-stack-sizing-mutator-small, var(--dq-stack-sizing-mutator, .25))); }